@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
   
    <p> <a href="https://localhost:44345/TicketFolder/TicketForm">Tickets</a></p>
</div>


<div class="text-center">
    
    <p><a href="https://localhost:44345/TicketFolder/OpenTicket">Open Tickets</a></p>
</div>
<div class="text-center">
    
    <p><a href="https://localhost:44345/TicketFolder/WaitAssigment">Wait Tickets</a></p>
</div>
<div class="text-center">
    
    <p><a href="https://localhost:44345/TicketFolder/AssignedTicket">AssignedTickets</a></p>
</div>
<div class="text-center">
    
    <p><a href="https://localhost:44345/TicketFolder/ClosedTicket">Closed Tickets</a></p>
</div>
<div class="text-center">
    
    <p><a href="https://localhost:44345/TicketFolder/ReviewTicket">Review Tickets</a></p>
</div>
<div class="text-center">
    
    <p><a href="https://localhost:44345/TicketFolder/CompletedTicket">Completed Tickets</a></p>
</div>