@page
@model TicketApp.Pages.TicketFolder.AssignedTicketModel
@{
}
<form method="post">


    <table border="4" width="100%">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Description</th>
                <th>Assignee</th>
                <th>Assigned Date</th>
            </tr>
        </thead>
        <tbody>


            @for (int i = 0; i < Model.TicketInputs.Count; i++)
            {
                <tr>
                    <td> TicketInputs[i].Subject</td>
                    <td> TicketInputs[i].Description</td>
                    <td> EmployeeList[i].Name</td>
                    <td> TicketInputs[i].AssigneDate</td>

                    <td>
                        <button type="submit" asp-route-id="@Model.TicketInputs[i].Id" asp-page-handler="CloseTicket"> Close ticket </button>
                    </td>

                </tr>
       }




        </tbody>
    </table>

</form>