@page
@model TicketApp.Pages.TicketFolder.TicketFormModel
@{
}

<form method="post">

    <label>Subject</label>
    <input asp-for="TicketInput.Subject" />
    <span></span>
    <br />

    <label>Descirption</label>
    <input asp-for="TicketInput.Description" />
    <br />

    <label>Customer</label>
    <select asp-for="TicketInput.CustomerId" asp-items="Model.SelectListItems">
    </select>
    <input type="submit" value="Save" asp-page-handler="Save" />

</form>
