@page
@model TicketApp.Pages.TicketFolder.WaitAssigmentModel
@{
}




<table border="4" width="80%">
    <thead>
        <tr>
            <th>Konu</th>
            <th>Açıklama</th>
            <th>Zorluk Derecesi</th>
            <th>Öncelik</th>
            <th>Elaman</th>
        </tr>
    </thead>
    <tbody>

       @for (int i = 0; i < Model.TicketInput.Count; i++)
       { 
            <tr>
                <td>@Model.TicketInput[i].Subject</td>
                <td>@Model.TicketInput[i].Description </td>
                <td>@Model.TicketInput[i].Difficulty</td>
                <td>@Model.TicketInput[i].Priority</td>
                <td>
                    <select asp-for="TicketInput[i].EmployeeId" asp-items="Model.SelectListItems">
                    </select>
                </td>
            </tr>

       }




    </tbody>
</table>
